:root {
  --Lime_Green: hsl(163, 72%, 41%);
  --Bright_Red: hsl(356, 69%, 56%);

  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  --Instagram: linear-gradient(326deg, #df4996 61%, #fdc468 100%);
  --YouTube: hsl(348, 97%, 39%);
}

html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

body {
  --BG: #ffffff;
  --Top_BG_Pattern: #f5f7ff;
  --Card_BG: #f0f2fa;
  --Blue_Text: #63687e;
  --Large_Text: #1e202a;
  --Toggle: #aeb3cb;

  height: 100%;
  font-family: "Inter", sans-serif;
}

body.dark-theme {
  --BG: #1e202a;
  --Top_BG_Pattern: #1f212e;
  --Card_BG: #252a41;
  --Blue_Text: #8b97c6;
  --Large_Text: #ffffff;
  --Toggle: linear-gradient(326deg, #378fe6 17%, #3eda82 100%);
  background-color: var(--BG);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

.resetBtnStyle {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.content,
.platforms-grid,
.overview-heading,
.platform-overview-grid {
  margin: 0 auto;
  width: 80%;
}

.bg-pattern {
  background-color: var(--Top_BG_Pattern);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
  height: 250px;
}

header {
  padding-block: 50px;
}

header .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
header hr {
  display: none;
  height: 1px;
  background-color: var(--Blue_Text);
  border: none;
}

.toggle-dark-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.toggle-dark {
  background: var(--Toggle);
  border-radius: 50px;
  max-width: 50px;
  width: 100%;
  padding: 5px;
  cursor: pointer;
  flex-shrink: 0;
}
.toggle-dark__label {
  font-weight: 700;
  color: #63687e;
  flex-shrink: 0;
}
.dark-theme .toggle-dark__label {
  color: #fff;
}

.dark-theme .toggle-dark {
  background-color: var(--Toggle);
}

.toggle-dark__btn {
  background-color: var(--Top_BG_Pattern);
  border-radius: 50%;
  display: block;
  width: 20px;
  height: 20px;
  transform: translate(100%);

  transition: transform 150ms 0s ease-out;
}

.toggle-dark__btn.on {
  transform: translate(0px);
}

.heading__title,
.overview__total,
.platform__follwers-count {
  color: var(--Large_Text);
}

.heading__total-followers {
  font-weight: 700;
}

.heading__total-followers,
.platform-username,
.platform__following-type,
.overview__label {
  color: var(--Blue_Text);
}

.platform-overview-grid,
.platforms-grid {
  --gap: 30px;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(
    auto-fit,
    minmax(clamp(250px, calc((100% - var(--gap)) / 4), 300px), 1fr)
  );
}
.platforms-grid {
  grid-auto-rows: 250px;
}

.platform-overview-grid {
  grid-auto-rows: 150px;
  
}

.platform-card {
  background-color: var(--Card_BG);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*relative to ::after*/
  position: relative;
}

.platform-card::before {
  content: "";
  height: 3px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.platform-card.facebook-card::before {
  background: var(--Facebook);
}

.platform-card.twitter-card::before {
  background: var(--Twitter);
}

.platform-card.instagram-card::before {
  background: var(--Instagram);
}

.platform-card.yotube-card::before {
  background-color: var(--YouTube);
}

.platform-handler {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-top: 25px;
}

.platform-username {
  font-size: 14px;
  font-weight: 700;
}

.platform__follwers-count {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: -15px;
  margin-top: 10px;
}

.platform__following-type {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.platform__followers-change ,.overview__change-percentage{
  /*relative to ::before icon*/
  position: relative;
  font-weight: 700;
  margin-top: 25px;
}

.platform__followers-change::before ,.overview__change-percentage::before{
  position: absolute;
  display: block;
  left: -15px;
  bottom: 50%;
  translate: 0px 33%;
}

.platform__followers-change.decrease,.overview__change-percentage.decrease {
  color: var(--Bright_Red);
}

.platform__followers-change.decrease::before,.overview__change-percentage.decrease::before {
  content: url("../images/icon-down.svg");
}

.platform__followers-change.increase,.overview__change-percentage.increase {
  color: var(--Lime_Green);
}

.platform__followers-change.increase::before,.overview__change-percentage.increase::before {
  content: url("../images/icon-up.svg");
}

.dark-theme .overview-heading{
  color: #fff;
}

.overview-heading {
  margin-block: 50px;
  color:#63687e;
}

.platform-overview-card {
  background-color: var(--Card_BG);
  border-radius: 5px;
  padding: 25px;
}

.platform-overview-card > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.platform-overview-card > div:nth-child(1) {
  margin-bottom: 25px;
}

.overview__total {
  font-size: 2rem;
  font-weight: 700;
}

@media only screen and (max-width: 640px) {
  .toggle-dark-container {
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }

  header hr {
    display: initial;
    width: 100%;
  }
  .platform-overview-grid{
  margin-bottom:50px;

  }
}
